// Overriding all dependency variable

$font-family-base: 			$tampan-font-family-base;
$font-size-base: 			$tampan-font-size-base;
$font-size-large: 			$tampan-font-size-large;
$font-size-small: 			$tampan-font-size-small;