<div class="box">
    <h2 class="box-head">
        <a href="{{ post.url | slugify }}">
            {{ post.title }}
        </a>
        <small class="box-head-meta">
            <a href="{{ post.tags | first | slugify | prepend: site.tagurl }}" class="box-meta-item"><i class="fa fa-tag"></i> {{ post.tags }}</a>
            <span class="box-meta-item"><i class="fa fa-calendar"></i> {{ post.date | date_to_long_string }}</span>
        </small>
    </h2>
    <div class="box-body">
        {{ post.excerpt }}

        <div class="box-body-meta">
            <a href="{{ post.url | slugify }}" class="btn btn-tampan">Read more &raquo;</a>
        </div>
    </div>
</div>